.Input{
    border: 1px solid black;
    padding: 5px;
}

.Input-wrapper{
    margin: 50px;
    display: inline-flex;
}

.Input__list{
    position: absolute;
    top: 27px;
    left: 0;
    width: 100%;
    border: 1px solid black;
    border-top: none;
    box-sizing: border-box;
    background-color: white;
    text-align: left;
    padding: 5px 10px;
}

.Input__list div{
    padding: 2px 0;
    cursor: pointer;
}

.Input__inner{
    position: relative;
    margin-left: 5px;
}
